# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>

In [2]:
print("Hello World!!!")

Hello World!!!

### Int & Float Assignments

##### Assigning int

In [3]:
# variable_name = value
# Python Standard Naming Convention - all lowercase - snake case - snake_case
# hello_my_name_is_dillon

my_number=5 #Assigns the value 5 to variable my_number

print(my_number)
print(type(my_number))

5
<class 'int'>

In [4]:
another_number = 123

print(another_number)
print(type(another_number))

123
<class 'int'>

##### Assinging float

In [5]:
my_float_number = 5.67

print(my_float_number)
print(type(my_float_number))

5.67
<class 'float'>

In [6]:
# The decimal (.) that is doing the heavy lifting - tells Python that is a float

another_float = 6.

print(another_float)
print(type(another_float))

6.0
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [7]:
# Use the plus operator (+)

num1 = 43.
num2 = 21

# int + int = int
# int + float = float
# float + float = float

result = num1 = num2
print(result)
print(type(result))

21
<class 'int'>

In [8]:
print(result)

result += 15 # result = result + 15

print(result)

21
36

In [9]:
x = 10

x += 5 # x = x+5

print(x)

15

##### Subtraction

In [10]:
# use the minus operator (-)

difference = num1 - num2
print(difference)
print(type(difference))

# Assignment Operator (-=)

difference -= 5 # difference = difference - 5

print(difference)

0
<class 'int'>
-5

##### Multiplication

In [1]:
# Use the asterisk or start (*)

product = 12 * 7

print(product)
print(type(product))

# Assignment Operator (*=)

product *= 2 # product = product * 2

print(product)

84
<class 'int'>
168

##### Division

In [11]:
# Use the forward slash (/)

# ALWAYS RESULTS IN A FLOAT

num3 = 50
num4 = 5

quotient = num3 / num4

print(quotient)
print(type(quotient))

# Assignment Operator (/=)

quotient /= 4 # quotient = quotient / 4

print(quotient)

10.0
<class 'float'>
2.5

##### Floor Division

In [12]:
# Sometime also referred to as integer division

# Floor is defined as the highest integer that is less than or equal to the value

result_normal = 15/4
print(result_normal)

# Use the double slash (//)

result_floor = 15 //4
print(result_floor)

# Assignment Operator (//=)

result_floor //= 2 # result_floor = result_floor // 2

print(result_floor)

3.75
3
1

##### Modulo

In [17]:
# Use the percent operator (%)

# will return the remainder of a division problem

num5 = 48
num6 = 5

result_mod = num5 % num6
print(result_mod)

# Assignment Operator (%=)

result_mod %= 2 # result_mod = result_mod % 2
print(result_mod)

3
1

In [19]:
# determine if a number is even or odd

# if a number is even, 2 goes into the number evenly with a remainder of 0
# if a number is odd, 2 goes into the number with a remainder of 1

some_number = 372

print(some_number % 2)

0

##### Exponential

In [21]:
# Use the double-asterisk (**)

square = 5 ** 2
print(square)

# Assignment Operator (**=)

square **= 3 # square = square ** 3

print(square)

25
15625

### String Input-Output

##### String Assignment

In [22]:
# variable_name = "string" - quotation marks ("" or '') tell python that it is a string

first_name = 'Dillon'

print(first_name)
print(type(first_name))

Dillon
<class 'str'>

In [23]:
last_name = "Dains"

print(last_name)
print(type(last_name))

Dains
<class 'str'>

In [24]:
# quotations marks are necessary

wrong = astring

#python thinks that we are setting a variable 'wrong' equal to whatever the value for the variable 'astring' is, but 'astring' does not exist

NameError: name 'astring' is not defined

In [25]:
me = first_name

print(me)

Dillon

##### Escape Characters

In [26]:
contraction1 = "You can't do that"

print(contraction1)

You can't do that

In [27]:
contraction2 = ' you can't do that'

print(contraction2)

SyntaxError: unterminated string literal (detected at line 1) (4118999211.py, line 1)

In [28]:
# backslash before quotation - read it literally
contraction3 = 'You can\'t do that'
print(contraction3)

You can't do that

In [29]:
quote1 = 'He said, "How are you?"'
print(quote1)

He said, "How are you?"

In [30]:
quote2 = "He said, \"How are you?\""
print(quote2)

He said, "How are you?"

In [33]:
# Backlash allows us to write the string on multiple lines and still be read as one line
long_string = 'Hello how are you \
doing today?'

print(long_string)

Hello how are you doing today?

In [34]:
# \n - new line character

multi_line = "Hello\nHow are you?"
print(multi_line)

Hello
How are you?

In [35]:
# \t - tab character

tabbed = "Hello\tWorld"
print(tabbed)

Hello	World

In [36]:
letter = "Dear Friend,\n\tI hope you are doing well."
print(letter)

Dear Friend,
	I hope you are doing well.

#### Triple Quoted String

In [39]:
# string that starts and ends with 3 quotations (single or double)
# Read line spacing literally
triple = '''This is the first line
    this is the second line
this is the final line'''

print(triple)

This is the first line
    this is the second line
this is the final line

In [40]:
triple_again = """ This is another
example
of a triple quoted string"""

print(triple_again)
print(type(triple_again))

 This is another
example
of a triple quoted string
<class 'str'>

In [43]:
# Raw String - start with r before the quotation marks (r'') or (r"")
# Read string literally - special characters are not special

raw_letter = r'Dear Friend,\n\tI hope you are doing well.'
print(raw_letter)

Dear Friend,\n\tI hope you are doing well.

In [47]:
my_example = r'Dillon\b'
print(my_example)

Dillon\b

In [46]:
string_number = "123"

print(string_number)
print(type(string_number))

123
<class 'str'>

##### String Concatenation

In [50]:
first = 'John'
last = 'Smith'

#plus operator (+) between two strings = return a new string with the two strings combined
full = first + ' ' + last
print(full)

# += works for strings too
full += ', Jr.' # full = full + ', Jr.'
print(full)

John Smith
John Smith, Jr.

In [51]:
num_a = 10 # integer
num_b = '10' # string

num_c = num_a + num_b
print(num_c)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [52]:
num_a = 10 # integer
num_b = '10' # string

num_c = num_b + num_a
print(num_c)

TypeError: can only concatenate str (not "int") to str

##### Type Conversion

In [54]:
print(num_a, type(num_a))
print(num_b, type(num_b))

10 <class 'int'>
10 <class 'str'>

In [57]:
# to convert, pass the value into the built-in type function (usually the name of the class) -> will return a new object
# str for string, int for integers, float for floats, etc.

num_b_as_int = int(num_b)
print(num_b_as_int)
print(type(num_b_as_int))

# Creates new variable and object -> original value does not change

print(num_b, type(num_b))

10
<class 'int'>
10 <class 'str'>

In [59]:
num_a = 10 # integer
num_b = '10' # string

num_c = int(num_b) + num_a
print(num_c)

20

In [61]:
city = 'Chicago'

city_int = int(city)

ValueError: invalid literal for int() with base 10: 'Chi3cago'

In [62]:
pi = '3.14'

f_pi = float(pi)

print(f_pi)
print(type(f_pi))

3.14
<class 'float'>

In [63]:
print(num_a, type(num_a))

num_a_as_str = str(num_a)

print(num_a_as_str, type(num_a_as_str))

10 <class 'int'>
10 <class 'str'>

##### .format() and f-strings

In [66]:
help(str.format)

Help on method_descriptor:

format(...)
    S.format(*args, **kwargs) -> str

    Return a formatted version of S, using substitutions from args and kwargs.
    The substitutions are identified by braces ('{' and '}').

In [67]:
first_name = 'Tom'
last_name = 'Brady'
city = 'San Francisco'
age = 47


intro_text = "Hello, my name is {} {} and I am {} years old and I am from {}".format(first_name, last_name, age, city)

print(intro_text)

Hello, my name is Tom Brady and I am 47 years old and I am from San Francisco

In [68]:
# f-string - another way of formatting a string -> uses curly braces with a variable name in them
# and a lowercase f before the string (f'') or (f"")

intro_text2 = f"Hello, my name is {first_name} {last_name} and I am {age} years old and I am from {city}"

print(intro_text2)

Hello, my name is Tom Brady and I am 47 years old and I am from San Francisco

In [72]:
# .format and f-string allows us to run expression for format our string

add_age1 = f'Hello, I am {first_name.upper()} and in 5 years I will be {age + 5}'

print(add_age1)

add_age2 = "Hello, I am {} and in 5 years I will be {}".format(first_name.upper(), age + 5)

print(add_age2)

Hello, I am TOM and in 5 years I will be 52
Hello, I am TOM and in 5 years I will be 52

##### Old Way (python 2)

In [73]:
print("Hello my name is %s and I am from %s" % (first_name, city))

Hello my name is Tom and I am from San Francisco

In [75]:
result = 10 + 5

print("The result is %i" % result)

The result is 15

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [83]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'

year_int = int(year)

# year_int += 1 

result = f"I drive a {color} {int(year) + 1} {make} {model}."

print(result)

I drive a blue 2023 Ford Focus.

In [85]:
my_car2 = "I drive a {} {} {} {}".format(color, int(year) + 1, make, model)

print(my_car2)

I drive a blue 2023 Ford Focus

### Booleans

In [86]:
bool_true = True
print(bool_true)
print(type(bool_true))

True
<class 'bool'>

In [87]:
bool_false = False
print(bool_false)
print(type(bool_false))

False
<class 'bool'>

### If Statements

In [88]:
# if <expression>:   <expression> must result in a boolean (True or False) or object with (Truthy/Falsy) value
#     <statement>

# INDENTATION MATTERS!!!!!!
# All lines that are indented under the if statement will only run if the expression is True

if True:
    print('Hello this is a statment that is being run because the If evaluated to True')

Hello this is a statment that is being run because the If evaluated to True

In [90]:
if False:
    print('Hello this is a statment that is being run because the If evaluated to True')

In [95]:
print('Start code...')

if False:
    print('Hello')
    print('How are you?')

print('End code...')

Start code...
End code...

In [104]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)
# Return value is a Boolean (True or False)

num1 = 10
num2 = 5
num3 = 2

print(num1 > num2)
print(num2 < num3)
print(num1 == num2 * num3)
print(num1>= num2 * num3)
print(num1 <= num2 * num3)
print(num1 != num2 * num3)

True
False
True
True
True
False

In [108]:
if num1 > num2:
    print(f"{num1} is greater than {num2}")

if num2 < num3:
    print(f"{num2} is less than {num3}")

if num1 >= num2 * num3:
    print(f"{num1} is greater than or equal to {num2} times {num3}")

10 is greater than 5
10 is greater than or equal to 5 times 2

## Using 'and'/'or' with If Statements

In [113]:
# Truth Tree for OR:
# T or T = T
# T or F = T
# F or T = T
# F or F = F

# To pass through to the next round, a students needs at least a 2.5 GPA or at least a 25 ACT

potential_candidate_gpa = 3.0
potential_candidate_act = 20

# logic for passing a student
if potential_candidate_gpa >= 2.5 or potential_candidate_act >= 25:
    print('Student meets requirements. Move on to next round...')

else:
    print('Reject student...')

Student meets requirements. Move on to next round...

In [116]:
# Truth Tree for AND:
# T and T = T
# T and F = F
# F and T = F
# F and F = F

# To pass through to the next round, a students needs at least a 2.5 GPA AND at least a 25 ACT

potential_candidate_gpa = 3.0
potential_candidate_act = 20

# logic for passing a student
if potential_candidate_gpa >= 2.5 and potential_candidate_act >= 25:
    print('Student meets requirements. Move on to next round...')

else:
    print('Reject student...')

Reject student...

In [117]:
number = 5

if number == 1 or number  7:
    print('The number is 1 0r 7')
else:
    print(f"Not 1 or 7, the number is {number}")

The number is 1 pr 7

### Else Statements

In [ ]:
# An else statement runs when the if statement DIRECLTY above it evaluates to False

### Elif Statements

In [ ]:
# An elif only runs when the if (or elif) directly above it evaluates to False

# Pretend we are checking tickets at the movie theater for an R-Rated movie
# If the movie goer is above 18, just say thanks and enjoy the show
# if the movie goer is above 14, check if they have a parent with them, can see if so
# no movie goers under 14 or under 18 without parent

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (ages 0-9) are half off. Print out the ticket price at the end</p>

In [ ]:

ticket = 10
# person_age = 72 # Output: Your ticket is $7.50
# person_age = 47 # Output: Your ticket is $10
# person_age = 8 # Output: Your ticket is $5.00

### Lists

##### Declaring Lists

In [ ]:
# Ordered collection of data; indexable; mutable; iterable; elements of the list can be of any data type
 # Empty list declation

##### Indexing a List

In [ ]:
# list_var[start: stop: step] - start is INclusive, stop is EXclusive
# 0-based index (indices will always start at 0 -> length of list - 1)
# Makes a copy, original list is unaffected

In [ ]:
# List are mutable - means you can change the values using item assignment
# item assignment - list_var[index] = value

In [ ]:
# Strings are IMMUTABLE - can NOT be changed through item assignment
# But they are indexable

##### .append()

In [ ]:
# list_var.append(value) -> Add the value to the end of the list

##### .insert()

In [ ]:
# list_var.insert(index,value) -> Add the value at index and shift everything after to the right 1 index

##### .pop()

In [ ]:
# list_var.pop() -> If no argument, pop removes and returns the last element of the list

In [ ]:
# list_var.pop(index) -> will remove the element at index and return that item


##### .remove()

In [ ]:
# value to be removed , not index
# list_var.remove(value) -> will remove the FIRST instance of that value

##### del

In [ ]:
# del list_var[index]
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully

In [ ]:
# Can cause index errors if not careful

##### Concatenating Two Lists

##### Lists can hold any datatype

In [ ]:
# lists can hold any dataype
# It is *recommended* to only store one datatype in a list

##### Lists Within Lists

In [ ]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

### For Loops

In [ ]:
# for <keyword> in <iterable>:
#     <statement>

In [ ]:
# Indentation Matters!
# Anything indented under the for loop is part of the loop

In [ ]:
# Strings are iterable

##### Continue Statement

In [ ]:
list_to_use = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
# will continue to next iteration
# skip all code after it in the code block and go to the next item in the iterable

##### Break Statement

In [ ]:
# will break out of current loop

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Nested/Double For Loops

### While Loops

In [ ]:
# while <conditional>:
#     <statement to run while condition is true>

from random import randint

##### Looping 'While True'

### Built-In Functions

##### input()

In [ ]:
# input(question) => ALWAYS RETURNS A STRING

##### range()

In [ ]:
#Start, Stop, Step

##### len()

In [ ]:
# check Length of variable

##### help()

##### isinstance()

In [ ]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

##### Looping Through Lists

In [ ]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)

    
# Loop with a for loop (Using the 'in' keyword)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didnt
# An else after a for runs if the for didnt break



# Prime number - A number that is divisible by only 1 and itself

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>